@keyframes slideIn {
  to {
    transform: translateX(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #f2f2f2;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden; }

ul li {
  list-style-type: none; }

.heading-primary {
  color: #f2f2f2;
  text-transform: uppercase;
  backface-visibility: hidden; }

.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: .8rem;
  white-space: nowrap;
  margin-bottom: 15px;
  animation: moveInTop 1s ease-in-out; }

.heading-primary--moto {
  display: flex;
  flex-direction: row !important;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .3rem;
  justify-content: center; }

.heading-primary--moto-word {
  margin-right: 15px; }

.learning-moto {
  animation: moveInLeft 1s ease-in-out .50s;
  animation-fill-mode: backwards; }

.creating-moto {
  animation: moveInBottom 1s ease-in-out .50s;
  animation-fill-mode: backwards; }

.evolving-moto {
  animation: moveInRight 1s ease-in-out .50s;
  animation-fill-mode: backwards; }

.about-heading {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  letter-spacing: .2rem; }

.about-paragraph {
  font-size: 1.6rem;
  margin-bottom: 2.5rem; }

.about-phrases {
  font-size: 1.5rem;
  vertical-align: middle; }

.projects-heading {
  color: #f2f2f2;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  letter-spacing: .2rem; }

.section-heading-about {
  margin: -2.4rem 0 4rem 0; }

.section-heading-projects {
  margin: 1.8rem 0 2.2rem 0; }

.header__box {
  background-color: #f2f2f2; }

.header {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("img/main-bg.jpeg") center no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
  position: relative;
  font-weight: 400;
  line-height: 1.7; }

.top-bar {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto; }

.header__logo-box {
  color: #f2f2f28e;
  transform: translateX(-100rem);
  animation: slideIn 1.7s forwards; }

nav {
  margin-bottom: 5rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem; }

nav ul {
  display: flex; }

nav ul a {
  text-decoration: none;
  color: #f2f2f2;
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
  transform: translateX(100rem);
  animation: slideIn 1.5s forwards; }

nav ul a:nth-child(2) {
  animation: slideIn 1.7s forwards; }

nav ul a:last-child {
  margin-right: 0;
  animation: slideIn 1.9s forwards; }

nav ul a::before,
nav ul a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f2f2f2;
  left: 0;
  transform: scaleX(0);
  transition: all .5s; }

nav ul a::before {
  top: 0;
  transform-origin: left; }

nav ul a::after {
  bottom: 0;
  transform-origin: right; }

nav ul a:hover::before,
nav ul a:hover::after {
  transform: scaleX(1); }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.about-section {
  padding: 100px; }

.about-info-container {
  width: 100%; }

.about-info-container::after {
  content: '';
  display: block;
  clear: both; }

.about-col-left, .about-col-right {
  float: left; }

.about-col-left {
  width: 35%; }

.about-col-left img {
  max-width: 100%;
  height: 500px; }

.about-col-right {
  width: 65%; }

.about-phrases {
  height: 50px;
  overflow: hidden; }

.about-phrases div {
  height: 50px;
  transition: margin-top 1s ease-in-out; }

.projects-section {
  padding: 100px;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("img/projects-bg.jpeg") center no-repeat;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  position: relative; }

.projects-gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.project-block {
  width: 400px;
  height: 200px;
  overflow: hidden; }

.project-block img {
  width: 100%;
  height: 100%;
  transition: all 1s;
  cursor: pointer; }

.project-block:hover img {
  transform: scale(1.5) rotate(10deg); }

.project-block-layer {
  width: 400px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  transition: all 1s; }

.project-block:hover .project-block-layer {
  transform: translateY(-400px); }
