// Colors
$color-primary: #245ba7;
$color-primary-light: #3a7bd5;
$color-primary-light-transparent: rgba($color-primary-light, .4);
$color-primary-dark: #122d53;
$color-primary-dark-transparent: rgba($color-primary-dark, .9);
$color-secondary: #f2f2f2;
$color-tertiary: rgba(10,10,10,0.9);