// Colors

$color-primary: #245ba7;
$color-primary-light: #3a7bd5;
$color-primary-light-transparent: rgba($color-primary-light, 0.4);
$color-primary-dark: #122d53;
$color-primary-dark-transparent: rgba($color-primary-dark, 0.4);

$color-text: #fff;