.about-section { 
    padding: 5px 100px 36px 100px; 

    @media (min-width: 768px) and (max-width: 1023px) { padding: 0 40px 40px 40px; }

    @media (min-width: 481px) and (max-width: 767px) {
        padding: 30px; 
    }

    @media (min-width: 411px) and (max-width: 480px) { padding: 0 30px 20px 30px; }
    @media (min-width: 320px) and (max-width: 410px) { padding: 0 30px 20px 30px;  }
}

.about-info-container {
    width: 100%;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.about-info-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;

    @media (max-width: 414px) {
        grid-template-columns: 1fr;
    }
}

.about-col-left { 
    position: relative; 

    @media (max-width: 414px) {
        display: none; 
    }
}

.about-phrases {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    height: 50px;
    overflow: hidden;
}

.about-phrases div {
    height: 50px;
    transition: margin-top 1s ease-in-out;
} 