// General
footer {
    height: 80vh; 
    background-color: $color-secondary; 
    padding: 0 100px;
    width: 100%;

    // &::after {
    //     content: "";
    //     display: block;
    //     clear: both;
    // }
}

.contacts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.social-media-container, .email-contact-container { 
    // float: left; 
    // width: 50%;
}

// Social media
.social-media-container {
    // margin: 0 auto;
    // width: 50%; 

    // @media (max-width: 950px) {
	// 	width: 70%;
    // }

    // @media (max-width: 680px) {
    //     width: 95%;
    // }

}

.social-media-accordion {
    background: $color-tertiary;
    width: 50%;
    min-width: 500px;
    display: block;
    overflow: hidden;
    height: 200px;
    font-size: 0;

    // &::after {
    //     content: "";
    //     display: block;
    //     clear: both;
    // }

    // @media (max-width: 950px) {
    //     display: block;

    //     min-width: 450px;
    //     height: auto;
    // }

    // @media (max-width:  680px) {
    //     width: 100%;
    //     min-width: 350px;
    // }

}

.social-media-tab {
    display: inline-block;
    background-color: $color-tertiary;
    border-right: $color-secondary solid 1px;
    width: 100px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0;
    transition: all .8s ease-in-out .1s;

    &:hover {
        // width: 450px;

        @media (max-width: 950px) {
            width: 100%;
        }
    }

    &:hover .social-media a::before {
        margin-left: -100px;
    }

    &:hover .social-media a::after {
        margin-left: -5px;
    }

    @media (max-width: 950px) {
        display: block;
        width: 100%;
        border-bottom: 3px #333 solid;
    }
}

// .social-media-tab .social-media-content {
//     background: #fff;
//     width: 360px;
//     height: 200px;
//     margin-left: 80px;
//     position: relative;
//     padding: 50px 0 0 15px;

//     @media (max-width: 950px) {
//         width: 85%;
//     }
// }

.social-media a::before, 
.social-media a::after {
    // width: 80px;
    // height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-indent: 0;
    // padding-top: 90px;
    // padding-left: 25px;
    display: block;
    font: normal 30px Genericons;
    color: $color-secondary;
    transition: all .8s ease-in-out .1s;
}

.social-media a::after {
    font-size: 48px;
    // padding: 80px 0 0;
    margin-left: 100px;
}

.facebook a::before, .facebook a::after { content: "\f204"; }
.facebook a::after { background-color: #3B5998; }

.twitter a::before, .twitter a::after { content: "\f202"; }
.twitter a::after { background-color: #1DA1F2; }

.instagram a::before, .instagram a::after { content: "\f215"; }
.instagram a::after { background-color: #F46F30; }

.linkedin a::before, .linkedin a::after { content: "\f208"; }
.linkedin a::after { background-color: #007BB5; }

.github a::before, .github a::after { content: "\f200"; }
.github a::after { background-color: #333; }

// Email contact form
.email-contact-container {
    // margin: 0;
}

.email-contact-container::after { 
    // padding: 40px 0;
    // content: ""; 
    // display: block;
    // clear: both;
}

.contact-form {
    max-width: 600px;
    margin: 0;
    // padding: 0 10px;
    overflow: hidden;
}

.contact-form-input {
    color: $color-secondary;
    padding: 2rem 4rem;
    display: block;
    width: 100%;
    margin-top: 16px;
    border: 0;  
    background: #121212;
    outline: none;
    transition: .8s;

    &:nth-child(1) {
        margin-top: 0;
    }

    // TODO: FIX FOCUS
    &:focus { box-shadow: 0 0 10px $color-tertiary; }
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.submit-contact-form-btn {
    color: #121212;
    background: $color-secondary;
    text-transform: uppercase;
    position: absolute;
    margin-top: 2rem;
    left: 75%;
    transform: translateX(-75%);
    border: 0;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: .8s;

    &:hover {
        background: #333;
    }
}