.header__box { background-color: $color-secondary; }

// TODO: GENERAL - CHANGE ORIENTATION ON DEV TOOLS
.header {
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    // background-image: linear-gradient(
    //     to right bottom, 
    //     $color-primary-light-transparent, 
    //     $color-primary-dark-transparent),   
    // url("img/placeholder-bg.jpg");
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url("img/main-bg.jpeg") center no-repeat;
    background-size: cover;
    // clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
    position: relative;
    font-weight: 400;
    line-height: 1.7;
    
    @media (min-width: 1024px) and (max-width: 1280px) {
        height: 39.2vh;
        clip-path: polygon(0 0, 100% 0, 100% 32vh, 0 100%);
    }

    @media (min-width: 1024px) and (max-width: 1280px)
        and (min-height: 600px) and (max-height: 850px) { 
            height: 100vh;
            clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        }

    @media (min-width: 768px) and (max-width: 1023px) {
        height: 52.3vh;
        clip-path: polygon(0 0, 100% 0, 100% 44vh, 0 100%);
    }

    @media (min-width: 768px) and (max-width: 1023px)
        and (min-height: 600px) and (max-height: 850px) { 
            height: 100vh;
            clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        }

    @media (min-width: 481px) and (max-width: 767px) {
        height: 75vh;
        clip-path: polygon(0 0, 100% 0, 100% 67vh, 0 100%);
    } 

    @media (min-width: 411px) and (max-width: 480px) {
        height: 50vh;
        clip-path: polygon(0 0, 100% 0, 100% 42vh, 0 100%);
    }

    @media (min-width: 375px) and (max-width: 410px) {
        height: 50vh;
        clip-path: polygon(0 0, 100% 0, 100% 42vh, 0 100%);
    }

    @media (min-width: 360px) and (max-width: 374px) {
        height: 55vh;
        clip-path: polygon(0 0, 100% 0, 100% 46vh, 0 100%);
    }

    @media (min-width: 320px) and (max-width: 359px) {
        height: 60vh;
        clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);
    }

    // @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    //     height: 50vh;
    //     clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 100%);
    // }

    // @media (min-width: 414px) and (max-width: 767px) {
    //     height: 28vh;
    //     clip-path: polygon(0 0, 100% 0, 100% 18vh, 0 100%);
    // }

    // @media (min-width: 375px) and (max-width: 413px) {
    //     height: 28vh;
    //     clip-path: polygon(0 0, 100% 0, 100% 18vh, 0 100%);
    // }

    // @media (min-width: 320px) and (max-width: 374px) {
    //     height: 28vh;
    //     clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 100%);
    // }
}

.top-bar {
    max-width: 120rem; 
    width: 90%;
    margin: 0 auto;

    @media (min-width: 1024px) and (max-width: 1280px) {
        max-width: 135rem; 
    }
}

// .header__logo-box {
//     position: absolute;
//     top: 4rem;
//     left: 4rem;
// }

// .header__logo {
//     height: 3.5rem;
// }

// TODO: FIX LOGO POSITION WHEN REAL LOGO IS ADDED
.header__logo-box { 
    color: #f2f2f28e;
    // TODO: FIX LOGO HEIGHT WHEN PLACEHOLDERS STOPS BEING USED
    // position: absolute;
    // top: 9%;
    transform: translateX(-100rem); 
    animation: slideIn 1.7s forwards;

    // TODO: FIX THIS WHEN USING REAL LOGO
    font-size: .5em;

    @media (min-width: 375px) and (max-width: 767px) {
        margin-top: 4%;
        visibility: visible;    
    }
}

nav {
    margin-bottom: 5rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;

    // @media (min-width: 1281px) {
    //     font-size: 1.7rem;
    // }

    // @media (min-width: 1025px) and (max-width: 1280px) {
    //     font-size: 1.6rem;
    // }

    // @media (min-width: 768px) and (max-width: 1024px) {
    //     font-size: 1.3rem;        
    // }

    // @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        
    // }

    // @media (min-width: 481px) and (max-width: 767px) {
    
    // }

    // @media (min-width: 320px) and (max-width: 480px) {
    
    // }

    // @media (min-width: 768px) and (max-width: 1024px) {
    //     font-size: 1.3rem;
    // }

    // @media (min-width: 481px) and (max-width: 767px) {
    //     font-size: 1rem;
    // }

    // @media (min-width: 375px) and (max-width: 812px) {
    //     font-size: 1.2rem;
    // }
}

nav ul.main-menu { 
    @media (min-width: 768px) { display: flex !important; }

    @media (min-width: 481px) and (max-width: 767px) {
        @include mobile-menu-styling();
        font-size: 2.24rem;
        text-align: center;
        // padding-top: 3.6rem;
    }

    @media (min-width: 411px) and (max-width: 480px) {
        @include mobile-menu-styling();
        font-size: 2.2rem;
        text-align: center;
        // padding-top: 2.5rem;
    }

    @media (min-width: 375px) and (max-width: 410px) {
        @include mobile-menu-styling();
        font-size: 2.4rem;
        text-align: center;
        // padding-top: 2.5rem;
    }

    @media (min-width: 360px) and (max-width: 374px) {
        @include mobile-menu-styling();
        font-size: 2.4rem;
        text-align: center;
        // padding-top: 2.5rem;
    }

    @media (min-width: 320px) and (max-width: 359px) {
        @include mobile-menu-styling();
        font-size: 2.2rem;
        text-align: center;
        // padding-top: 2.5rem;
    }
}

.menu-items {
    display: flex;

    @media (min-width: 481px) and (max-width: 767px) {
        @include menu-items-mobile-version();
    }

    @media (min-width: 320px) and (max-width: 480px) {
        @include menu-items-mobile-version();
    }
}

nav ul.main-menu .menu-items a { 
    text-decoration: none; 
    color: $color-secondary; 
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
    transform: translateX(100rem);  
    animation: slideIn 1.5s forwards; 
    
    // @media (min-width: 375px) and (max-width: 767px) {
    //     animation: slideIn 1.5s forwards; 
    // }

    &:nth-child(2) {
        animation: slideIn 1.7s forwards;  
    }

    &:last-child {
        margin-right: 0; 
        animation: slideIn 1.9s forwards;
    }

    &::before, &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-secondary;
        left: 0;
        transform: scaleX(0);
        transition: all .5s;
            
        @media (max-width: 1024px) { 
            // position: initial;
            // width: initial;
            // height: initial;
            background-color: initial;
            // left: initial;
            transform: initial;
            transition: initial;
        }
    } 

    &::before {
        top: 0;
        transform-origin: left;
    } 

    &::after {
        bottom: 0;
        transform-origin: right;
    }

    &:hover::before, &:hover::after { transform: scaleX(1); }
}

.header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    padding-bottom: 5rem;
    transform: translate(-50%, -50%);

    @media (min-width: 1025px) and (max-width: 1280px) {
        top: 45%;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        top: 47%;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        top: 48%;
        // padding-bottom: 2.5rem;
    }

    @media (min-width: 411px) and (max-width: 480px) {
        top: 47%;
        // padding-bottom: 2.5rem;
    }

    @media (min-width: 375px) and (max-width: 410px) {
        top: 47%;
        padding-bottom: 4rem;
    }

    @media (min-width: 360px) and (max-width: 374px) {
        top: 47%;
        padding-bottom: 3rem;
    }

    @media (min-width: 320px) and (max-width: 359px) {
        top: 47%;
        padding-bottom: 3rem;
    }

    // @media (min-width: 375px) and (max-width: 374px) {
    //     top: 40%;
    // }
}