.projects-section {
    padding: 0 100px;
    // TODO: FIX HEIGHT
    height: 132.5vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url("img/projects-bg.jpeg") center no-repeat;
    background-size: cover;
    // TODO: PROBABLY CHANGE POLYGON SHAPE
    clip-path: polygon(0 0, 100% 8vh, 100% 122vh, 0 100%);
    position: relative;
}

.projects-container {
    position: relative;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    float: left;
}

.projects-container .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 55px);
    background: #111;
    margin: 15px;
    float: left;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .8);

    &:nth-child(-n+4) {
        margin-top: 0;
    }

    &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transition: 1s;
        transform: scaleX(0);
        opacity: 0;
    }

    &:hover::before {
        transform: scaleX(1);
        opacity: 1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        transition: 1s;
        transform: scaleY(0);
        opacity: 0;
        z-index: 1;
    }

    &:hover::after {
        transform: scaleY(1);
        opacity: 1;
    }
}

.projects-container .box .img-box {
    position: relative;
}

.projects-container .box .img-box img {
    width: 100%;
    transition: 1s;
}

.projects-container .box:hover .img-box img {
    opacity: .2;
    transform: scale(1.2);
}

.projects-container .content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    z-index: 2;
    text-align: center; 
}

.projects-container .box .content h2 {
    margin: 0 0 1rem;
    padding: 0;
    color: #fff;
    transition: 1s;
    transform: translateY(-3rem);
    opacity: 0;
    visibility: hidden;
}

.projects-container .box .content p {
    margin: 0 0 1rem;
    padding: 0;
    color: #fff;
    transition: 1s;
    font-size: 12px;
    cursor: pointer;
    transform: translateY(3rem);
    opacity: 0;
    visibility: hidden;
}

.projects-container .box:hover .content h2,
.projects-container .box:hover .content p,
.projects-container .box:hover .content .project-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: .2s;
}