// Header section buttons
.hamburger {
    position: absolute;
    top: 12%;
    // TODO: FIX THIS LATER
    left: 93.7%;
    visibility: hidden;
    z-index: 4;
    padding: 1em;     
    margin: -1em; 
    transform: translate(-50%, -50%);
    animation: moveInRight 1s ease-in-out .50s;
    animation-fill-mode: backwards;

    @media (min-width: 375px) and (max-width: 767px) {
        visibility: visible;    
    }

    @media (min-width: 320px) and (max-width: 480px) {
        visibility: visible;    
    }
}

.hamburger span {
    display: block;
    width: 15px;
    height: 1px;
    // padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color-secondary;
    transition: .5s;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .20);

     @media (min-width: 481px) and (max-width: 767px) {
        width: 16px;
        transform: translate(-50%, -50%);
    }

    @media (min-width: 320px) and (max-width: 480px) {
        width: 13px;
        transform: translate(-50%, -50%);
    }
}

.hamburger span:nth-child(1) { 
    transform: translate(-50%, -50%) translateY(-6px); 
    transition: .2s;

    @media (min-width: 481px) and (max-width: 767px) {
        transform: translate(-50%, -50%) translateY(-6px); 
    }

    @media (min-width: 320px) and (max-width: 480px) {
        transform: translate(-50%, -50%) translateY(-5px); 
    }
}
    
.hamburger span:nth-child(4) { 
    transform: translate(-50%, -50%) translateY(6px); 
    transition: .2s;

     @media (min-width: 481px) and (max-width: 767px) {
        transform: translate(-50%, -50%) translateY(6px); 
    }

    @media (min-width: 320px) and (max-width: 374px) {
        transform: translate(-50%, -50%) translateY(5px); 
    }
}

.hamburger.active span:nth-child(1) { 
    transform: translate(-50%, -50%) translateY(-20px); 
    opacity: 0;
}

.hamburger.active span:nth-child(4) { 
    transform: translate(-50%, -50%) translateY(20px); 
    opacity: 0;
}

.hamburger.active span:nth-child(2) { 
    transform: translate(-50%, -50%) rotate(45deg); 
    transition-delay: .2s; 
}

.hamburger.active span:nth-child(3) { 
    transform: translate(-50%, -50%) rotate(-45deg); 
    transition-delay: .2s; 
}

// "My Projects" section buttons
.projects-container .box .content .project-btn {
    margin: 4px;
    padding: 5px;
    color: $color-secondary;
    background: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    opacity: 0; 
    visibility: hidden;
    border: 1px solid $color-secondary;
    cursor: pointer;
    transition: .8s;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0;
        background: $color-secondary;
        border: none;
        z-index: -1;
        transition: .8s; 
    }

    &:hover::before { height: 180%; }

    @media (min-width: 414px) and (max-width: 480px) {
        font-size: 1.72rem;
        margin: .7px;
        padding: 4px;
    }

    @media (min-width: 411px) and (max-width: 413px) {
        font-size: 1.72rem;
        margin: .7px;
        padding: 4px;
    }

    @media (min-width: 375px) and (max-width: 410px) {
        font-size: 1.9rem;
        margin: 1.4px;
        padding: 3px;
    }

    @media (min-width: 360px) and (max-width: 374px) {
        font-size: 2rem;
        margin: 1.7px;
        padding: 3px;
    }
    
    @media (min-width: 320px) and (max-width: 359px) {
        font-size: 2.1rem;
        margin: .5px;
        padding: 3px;
    }
}

.projects-container .box .content .project-btn-1 {
    transform: translateX(-3rem);

    &::before {
        top: 0;
        border-radius: 0 0 50% 50%;
    }

    // TODO: FIX BTN'S COLOR
    &:hover {
        height: 180%;
        color: $color-tertiary;
    }

}

.projects-container .box .content .project-btn-2 { 
    transform: translateX(3rem);

    &::before {
        bottom: 0;
        border-radius: 50% 50% 0 0;
    }

    &:hover {
        height: 180%;
        color: $color-tertiary;
    }
}

.projects-container .box:hover .content .project-btn {
    @include project-box-elements-transition();
}

// "Contacts" section submit button
.email-contact-container .submit-btn-wrapper { text-align: center; margin-top: 3rem; }

.main-button {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $color-tertiary;
    padding: 12px 50px;
    border: 1px solid #111;
    background: none; 
    z-index: 1;
    font-size: 1.4rem;
    cursor: pointer;
    transition: .8s;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0;
        background: $color-tertiary;
        z-index: -1;
        transition: .8s;
    }

    &:hover::before { height: 180%; }
} 

.submit-contact-form-btn {
    &:hover {
        color: $color-secondary;
    }

    &::before {
        bottom: 0;
        border-radius: 50% 50% 0 0;
    }

    &:hover::before {
        height: 200%;
        color: $color-secondary;
    }
}