*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html { 
    font-size: 62.5%; 

    @media (min-width: 1025px) and (max-width: 1280px) {
        font-size: .6rem;
    }

    @media (min-width: 768px) and (max-width: 1025px) {
        font-size: .4rem;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        font-size: .3rem;
    }

    @media (min-width: 320px) and (max-width: 480px) {
        font-size: .2rem;
    }
}

body {
    background-color: $color-secondary;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif; 
    box-sizing: border-box;
    overflow-x: hidden;
}

ul li { list-style-type: none; }