// Header typography
.heading-primary {
    color: $color-secondary;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: .8rem;
    white-space: nowrap;
    margin-bottom: 15px;
    animation: moveInTop 1s ease-in-out;

    @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 2.5rem;
    }

    @media (min-width: 1024px) and (max-width: 1366px) {
        font-size: 4rem;
    }

    @media (min-width: 375px) and (max-width: 767px) {
        font-size: 1.4rem;
        letter-spacing: 0.5rem;
    }

    // @media (min-width: 375px) and (max-width: 812px) {
    //     font-size: 1rem;
    //     letter-spacing: .5;
    // }
}

.heading-primary--moto {
    display: flex;
    flex-direction: row !important; 
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .3rem;
    justify-content: center;

    @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 1.4rem;
    }

    @media (min-width: 1024px) and (max-width: 1366px) {
        font-size: 2.1rem;
    }

    @media (min-width: 375px) and (max-width: 767px) {
        font-size: .9rem;
        letter-spacing: .3rem;
    }

    // @media (min-width: 375px) and (max-width: 812px) {
    //     font-size: 1.3rem;
    // }
}

.heading-primary--moto-word { margin-right: 15px; }

.learning-moto { 
    animation: moveInLeft 1s ease-in-out .50s;
    animation-fill-mode: backwards;
}

.creating-moto { 
    animation: moveInBottom 1s ease-in-out .50s; 
    animation-fill-mode: backwards;
}

.evolving-moto { 
    animation: moveInRight 1s ease-in-out .50s;
    animation-fill-mode: backwards;
}

// "About" section typography 
.about-heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    letter-spacing: .2rem;
}

.about-paragraph {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
}

.about-phrases {
    font-size: 1.5rem;
    vertical-align: middle;
}

// "My projects" section typography 
.projects-heading {
    color: $color-secondary;    
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    letter-spacing: .2rem;
}

.text-hover-project-img {
    width: 300px;
    height: 300px;
    background-color: #fff;
    float: left;
    margin: 4px;
    z-index: 99999;
}

// "Footer/Contacts" typography 
.section-heading-contacts {
    color: $color-secondary;    
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    letter-spacing: .2rem;
}

@font-face {
    font-family: "Genericons";
    src: url("../fonts/genericons-regular-webfont.woff")format('woff'), url("../fonts/genericons-regular-webfont.eot")format('truetype')
}